# Create the database in Python

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
username = "root"
password = quote_plus("OscarRamirez123@") # Using the quote function to make the password compatible


 
connection = f"mysql+pymysql://{username}:{password}@localhost/books"

engine = create_engine(connection)


users_df = pd.read_csv('Books/Users.csv')
books_df = pd.read_csv('Books/Books.csv')
authors_df = pd.read_csv('Books/Authors.csv')
favorites_df = pd.read_csv('Books/Favorites.csv')

In [3]:
users_df.to_sql('users', con=engine, if_exists='replace', index=False)
books_df.to_sql('books', con=engine, if_exists='replace', index=False)
authors_df.to_sql('authors', con=engine, if_exists='replace', index=False)
favorites_df.to_sql('favorites', con=engine, if_exists='replace', index=False)

7

In [4]:
show_tables_query = "SHOW TABLES;"
result = engine.execute(show_tables_query)
tables = [table[0] for table in result]
tables

['authors', 'books', 'favorites', 'users']

In [5]:
john_doe_favorites_query = """
SELECT books.title
FROM books
JOIN favorites ON books.id = favorites.book_id
JOIN users ON favorites.user_id = users.id
WHERE users.first_name = 'John' AND users.last_name = 'Doe'
"""

john_doe_favorites = pd.read_sql(john_doe_favorites_query, con=engine)
john_doe_favorites

              title
0       The Shining
1                It
2  The Great Gatsby

In [6]:
engine.dispose()
print("Done")

Done